# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Models (Large weights)
*.pt
!ppe_amirt.pt
!ppe_hardhat.pt

# Virtual environment
.venv/
venv/
ENV/
env/

# Streamlit
.streamlit/

# Development / Scratch
scratch/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
